<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About-Siddhartha</title>
</head>
<body>
    <div class="bg">
        <header>
            <img src="/sid_logo_2.png" alt="logoSiddartha.img" width="943" height="322"/>
        </header>
        <div class="central">
            <div class="containerCentral">
                <h1>About</h1>
                <div class="cajaContenido">
                    <div class="argument">
                        <p>Jorge Siddhartha González Ibarra, conocido artísticamente como Siddhartha 
                            es un músico mexicano radicado en la ciudad de Guadalajara.
                        <br><br>
                        Su mayor oportunidad vendría en el año 2005, cuando Siddhartha se unió a la 
                            que es hoy probablemente la banda de rock más popular en nuestro país: Zoé. 
                            Siddhartha se unió a la gira de su EP, The room, por varios puntos del país.
                            Siddhartha permaneció en la banda un par de años más, hasta que culminó la grabación 
                            de su disco, Memo Rex Commander y el corazón atómico de la Vía Láctea, para entonces 
                            concentrarse en la producción de su primer disco solista, Why You?, en el cuál compuso, 
                            tocó, interpretó, grabó y produjo junto a su colaborador y amigo, Aldo Muñoz, quien también 
                            colaboraría de forma muy cercana en sus dos siguientes producciones.
                        </P>
                    </div>
                    <div class="gallery">
                        <img src="/sidLive.jpg" alt="sidLive.img" width="620" height="400"/>
                        <img src="/sidNyuya.jpg" alt="sidNyuya.img" width="1140" height="712"/>
                        <img src="/sidNat.jpg" alt="sidNat.img" width="300" height="200"/>
                    </div>                    
                </div>
            </div>
        </div>
        <footer>
            <nav class="nav">
                <a href="/about"><button>About</button></a>
                <a href="/"><button>Home</button></a>
                <a href="/works"><button>Works</button></a>
            </nav>
        </footer>
    </div>
</body>
</html>