<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Works-Siddhartha</title>
</head>
<body>
    <div class="bg">
        <header>
            <img src="/sid_logo_2.png" alt="logoSiddartha.img" width="943" height="322"/>
        </header>
        <div class="central">
            <div class="containerCentral">
                <h1>Works</h1>
                <div class="cajaContenido">
                    <div class="argument">
                        <p>
                            Ha grabado seis discos: Why You? (2008), el cual fue nominado 
                            a los Premios Grammy Latinos; Náufrago (2011); El vuelo del pez (2014); 
                            Únicos (2016), Memoria Futuro (2019), el cual también fue nominado a los 
                            Premios Grammy Latinos y 00:00 (2022). Mostrados a continuación respectivamente.
                        </P>
                    </div>
                    <div class="gallery2">
                        <img src="/bundle.jpg" alt="bundle.img" width="1564" height="1564"/>
                        <img src="/memFut.webp" alt="memFut.img" width="960" height="960"/>
                        <img src="/cero.jpg" alt="cero.img" width="200" height="200"/>
                    </div>                    
                </div>
            </div>
        </div>
        <footer>
            <nav class="nav">
                <a href="/about"><button>About</button></a>
                <a href="/"><button>Home</button></a>
                <a href="/works"><button>Works</button></a>
            </nav>
        </footer>
    </div>
</body>
</html>